<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.limkee1">

    <uses-permission android:name="android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/launchicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launchicon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateVisible|adjustResize">
        <activity android:name="com.limkee1.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.limkee1.navigation.NavigationActivity"
            android:parentActivityName="com.limkee1.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.limkee1.login.LogoutActivity"
            android:parentActivityName="com.limkee1.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.limkee1.order.ConfirmOrderActivity"
            android:parentActivityName="com.limkee1.navigation.NavigationActivity" />
        <activity
            android:name="com.limkee1.order.CurrentOrderDetailActivity"
            android:parentActivityName="com.limkee1.order.ConfirmOrderActivity" />
        <activity
            android:name="com.limkee1.payment.PaymentActivity"
            android:parentActivityName="com.limkee1.order.CurrentOrderDetailActivity" />
        <activity
            android:name="com.limkee1.payment.ConfirmationActivity"
            android:label="@string/title_activity_confirmation"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.limkee1.order.QuickReorderConfirmOrderActivity"
            android:parentActivityName="com.limkee1.order.QuickReorderConfirmOrderActivity" />
        <activity android:name="com.limkee1.order.OrderHistoryDetailActivity" />
        <activity android:name="com.limkee1.order.CancelledOrderDetailActivity" />
        <activity android:name="com.limkee1.order.CancelledOrderActivity" />
        <activity android:name="com.limkee1.catalogue.ProductDetailsActivity" />

        <receiver
            android:name="com.limkee1.notification.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.limkee1.dashboard.DashboardActivity" />
        <activity android:name="com.limkee1.payment.ScanActivity"></activity>
    </application>

</manifest>